a {
  color: #B58AA5
}

a:hover, a:active {
  color: #CECFCE;
  text-decoration: none;
}

/* HEADER STYLING */
.navbar, .navbar-default {
  background: white;
  border: white;
}

.navItem, #navItem {
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 18px;
  color: #84596B !important;
}

#logo {
  width: 35px;
  padding-bottom: 15px;
}

/* FOOTER STYLING */
#footer .footer-icons {
  color: black;
  margin-right: 30px;
  margin-top: 1%;
}

#footer .fa-envelope {
  margin-left: 5%;
}

#footer div {
  text-align: center;
  margin-top: 2%;
}

#created-by {
  font-family: 'Fira Sans', Sans-Serif;
  color: #84596B;
  margin-bottom: 2%;
}

/* HOME PAGE STYLING */
#profile-photo img {
  border: 5px solid #84596B;
  display: block;
  margin: auto;
  width: 315px;
  height: 390px;
}

#name, #title {
  font-family: 'Fira Sans', Sans-Serif;
  text-align: center;
  font-size: 50px;
  color: #84596B;
  margin: 2%;
}

#about, #press > p, #blog > p {
  width: 83%;
  margin: auto;
  text-align: center;
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 14px;
  color: #84596B;
}

/* WORK/LEADERSHIP EXPERIENCE STYLING */
#position {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  overflow: hidden;
}

#position img {
  width: 25%;
  float: left;
  border: solid 3px #84596B;
  border-radius: 20px;
}

#position > div, #position p {
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 16px;
  color: #84596B;
  width: 70%;
  float: right;
}

#position #position-title {
  font-family: 'Fira Sans', Sans-Serif;
}

#position p {
  font-size: 14px;
}

#position-description {
  padding-top: 1%;
}

/* PRESS/BLOG STYLING */
#press p, #content p {
  font-size: 16px;
}

#press > ul, #blog > ul {
  width: 60%;
  margin: 3% auto;
}

#press li, #blog li {
  margin-bottom: 1%;
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 16px;
}

/* BLOG STYLING */
#content {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#subtitle-1 {
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 20px;
  color: #3D3242;
  padding-bottom: 1%;
}

#subtitle-2 {
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 16px;
  color: #B58AA5;
  padding-bottom: 1%;
}

#content p {
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 14px;
  color: #84596B;
  padding-bottom: 1%;
}

#content li {
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 14px;
  color: #84596B;
}

#blog-back-button span {
  display: block;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

#blog-back-button {
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 20px;
}

#blog-back-button a {
  color: #3D3242;
}