/*
NEED TO DO:
- put footer on every page
- put text outline around my name on index page
- need to edit cover photo: blur background image and increase brightenss, maybe update photo later
*/
body {
	background: url(../photos/background.jpg) no-repeat center center fixed; 
	background-size: cover;
}

body#index {
	background: url(../photos/profile.jpg) no-repeat center center fixed; 
	background-size: cover;
}

header .container {
	height: 50px;
}

#introduction .container {
	width: 100%;
}

#introduction .container .row {
	position: relative;
}

#introduction .container .row > h1 {
	text-align: center;
	color: white;
	font-size: 80px;
	position: fixed;
	bottom: 5%;
	width: 100%;
	text-shadow: 1px 0 0; /*need to add outline around text*/
}

footer {
	background-color: black;
	color: white;
}

footer .container {
	text-align: center;
}

#about .container div > img, #projects div img, #leadership div img, #outreach div img {
	width: 300px;
	border: 5px solid;
	border-color: rgb(45, 62, 218);
	border-radius: 20px;
	float: left;
	background-color: white;
	margin: 2%;
}

#about .container {
	margin: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-left: 0px;
}

#about .container div > p {
	text-align: center;
	color: rgb(45, 62, 218);
	font-size: 16px;
	padding: 1%;
}

.page-header {
	border: none;
	color: rgb(45, 62, 218);
	text-align: center;
}

hr {
	border-color: rgb(45, 62, 218);
}

#projects, #leadership, #outreach {
	overflow: hidden;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#projects div, #leadership div, #outreach div  {
	
	overflow: hidden;
}

#projects div h2, #leadership div h2, #outreach div h2 {
	font-size: 20px;
	color: rgb(45, 62, 218);
}

#projects div p, #leadership div p, #outreach div p {
	text-align: justify;
	font-size: 14px;
	color: rgb(45, 62, 218);
}