/*Changes to BootStrap properties*/
.thumbnail {
	background-color: transparent;
	border: none;
}

/*Self-made classes*/
.footer-icons {
	color: grey;
	margin-left: 2%;
}

.projects-github {
	color: white;
}

.projects-github:hover {
	color: grey;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display: inline-table;
    float: none;
    margin-right: -4px;
}

/*Common properties*/
body {
	background: url(../photos/background.jpg) no-repeat center center fixed; 
	background-size: cover;
}

header .container, header .container-fluid {
	height: 50px;
}

#index footer .container-fluid .row, #contact footer .container-fluid .row, #education footer .container-fluid .row {
	position: fixed;
	bottom: 0px;
}

footer, footer .container-fluid .row {
	color: grey;
	background-color: black;
	width: 100%;
}

footer .container-fluid .row p {
	text-align: center;
	font-size: 18px;
}

#footer-text {
	padding-top: 0.5%;
}

footer a i:hover {
	color: white
}

#about .container div > img, #experience div > div > div img, #projects div > div > div img, 
#leadership div > div > div img, #outreach div > div > div img {
	border: 7px solid white;
	border-radius: 20px;
	background-color: white;
}


/*index.html properties*/
body#index {
	background: url(../photos/profile.jpg) no-repeat center center fixed; 
	background-size: cover;
}

#introduction .container-fluid .row {
	position: relative;
}

#introduction .container-fluid .row > h1 {
	text-align: center;
	color: white;
	font-size: 80px;
	position: fixed;
	bottom: 15%;
	width: 100%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*about.html properties*/
#about .container div > img {
	width: 300px;
	float: left;
	margin: 2%;
}

#about .container {
	margin: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-left: 0px;
}

#about .container div > p {
	color: white;/*rgb(45, 62, 218);*/
	font-size: 16px;
	padding: 1%;
	text-align: justify;
}


/*experience.html properties*/
#experience {
	margin: 0px;
}

#experience div > div > div img, #projects div > div > div img, #leadership div > div > div img, #outreach div > div > div img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#experience .page-header, #projects .page-header, #leadership .page-header, #outreach .page-header, #education .page-header {
	border: none;
	color: white;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
 }

hr {
	border-color: white;
}

#experience, #projects, #leadership, #outreach {
	/*border: 2px solid red;*/
	overflow: hidden;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#experience div, #projects div, #leadership div, #outreach div {
	/*border: 2px solid white;*/
}

#experience div > div > div > div > h2, #projects div > div > div > div > h2, 
#leadership div > div > div > div > h2, #outreach div > div > div > div > h2 {
	font-size: 20px;
	color: white;
	text-align: center;
	font-weight: bold;
	margin: 3%;
}

#experience div > div > div > div > h3, #projects div > div > div > div > h3, 
#leadership div > div > div > div > h3, #outreach div > div > div > div > h3 {
	font-size: 18px;
	color: white;
	text-align: center;
	margin: 3%;
}

#experience div > div > div > div > p, #projects div > div > div > div > p, 
#leadership div > div > div > div > p, #outreach div > div > div > div > p {
	text-align: center;
	font-size: 16px;
	color: white;
}

#experience div > div > div > div > a > img:hover, #projects div > div > div > div > a > img:hover, 
#leadership div > div > div > div > a > img:hover, #outreach div > div > div > div > a > img:hover {
	border-color: grey;
}

/*education.html properties*/