/*
NEED TO DO:
- put footer on every page
- put text outline around my name on index page
- need to edit cover photo: blur background image and increase brightenss, maybe update photo later
*/
body {
	background: url(../photos/background.jpg) no-repeat center center fixed; 
	background-size: cover;
}

body#index {
	background: url(../photos/profile.jpg) no-repeat center center fixed; 
	background-size: cover;
}

header .container, header .container-fluid {
	height: 50px;
}

#introduction .container-fluid .row {
	position: relative;
}

#introduction .container-fluid .row > h1 {
	text-align: center;
	color: white;
	font-size: 80px;
	position: fixed;
	bottom: 5%;
	width: 100%;
	/*text-shadow: 1px 0 0; need to add outline around text*/
}

#about .container div > img, #experience div > div > div > img, #projects div > div > div > img, 
#leadership div > div > div > img, #outreach div > div > div > img {
	border: 5px solid;
	border-color: white;
	border-radius: 20px;
	background-color: white;
}

#about .container div > img {
	width: 300px;
	float: left;
	margin: 2%;
}

#about .container {
	margin: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-left: 0px;
}

#about .container div > p {
	color: white;/*rgb(45, 62, 218);*/
	font-size: 16px;
	padding: 1%;
	text-align: justify;
}

#experience {
	margin: 0px;
}

#experience div > div > div > img, #projects div > div > div > img, #leadership div > div > div > img, #outreach div > div > div > img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#experience .page-header, #projects .page-header, #leadership .page-header, #outreach .page-header {
	border: none;
	color: white;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
 }

hr {
	border-color: white;
}

#experience, #projects, #leadership, #outreach {
	/*border: 2px solid red;*/
	overflow: hidden;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#experience div, #projects div, #leadership div, #outreach div {
	/*border: 2px solid white;*/
}

#experience div > div > div > div, #projects div > div > div > div, #leadership div > div > div > div, #outreach div > div > div > div {
	
}

#experience div > div > div > div > h2, #projects div > div > div > div > h2, #leadership div > div > div > div > h2, #outreach div > div > div > div > h2 {
	font-size: 20px;
	color: white;
	text-align: center;
	font-weight: bold;
	margin: 3%;
}

#experience div > div > div > div > h3, #projects div > div > div > div > h3, #leadership div > div > div > div > h3, #outreach div > div > div > div > h3 {
	font-size: 18px;
	color: white;
	text-align: center;
	margin: 3%;
}

#experience div > div > div > div > p, #projects div > div > div > div > p, #leadership div > div > div > div > p, #outreach div > div > div > div > p {
	text-align: center;
	font-size: 16px;
	color: white;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display: inline-table;
    float: none;
    margin-right: -4px;
}

.thumbnail {
	background-color: transparent;
	border: none;
}